.container-dropdown {
  width: 200px;
  button {
    width: 200px;
  }

  .button-collapsible {
    padding: 10px 20px;
  }

  .section-collapsible {
    background-color: #b3d3e0;
    padding: 10px;
  }
}
